  
body {
  background: #070000;
  background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);
  background: linear-gradient(to right, #070000, #4C0001, #070000); 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}